/**Se importa "base.css" para traer las fuentes de todo el documento*/
@import url('base.css');

/**Contenedor de botones*/
.contenedorBotones{
    padding-top:7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/**Delimitador de espacio para las diferentes secciones del documento*/
.contenedor{

    margin-top: 6%;
    margin-left: 6%;

    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 5%;
    padding-right: 5%; 

    border-radius: 10px;
    
    width: 80%;

    background-color: #dfdede;
}

/**Contenedor de la direccion de la casa*/
#contenedorDireccion{

    margin-top: 6%;
    margin-left: 6%;

 
    
    align-items: center;
    
}